DATABASE_URL="postgresql://neondb_owner:npg_pt6PuNbg5CVh@ep-quiet-unit-ahhqq1nc-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


OPENROUTER_API_KEY="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"


JWT_SECRET="ljoijfejeopir94jejrrjofrefo3i"